/* 
    margin -> margen
    padding -> bordes
    width -> ancho
    */
 
div{
    width: 500px;            /* tambien porcentaje*/
    /* height: 300px; */
    background: #ff8000;
    margin: 20px 50px;
    padding: 30px;
    border: 10px solid #000; /* dotted */
    display:inline-block ;
 }

