/* ul {
    list-style-type: circle;  /*por defecto es disc. podemos poner square
    list-style-position: inside; /*inside, outside

}

/* ul > ul

ol{
    list-style-type: decimal-leading-zero; /*Por defecto es decimal  , lower-latin (uper),  alpha
}  */

.menu {
    width: 100%;
    background: black;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
}

.menu li a{
    padding: 10px 20px;
    display: inline-block;
    color: aliceblue;
}

.menu li a:hover {
    background: #ccc;
    color: #000;
}